- name: Install Apache
  package:
    name: apache2
    state: present
  notify:
    - Restart Apache

- name: Ensure Apache is running and enabled
  systemd:
    name: apache2
    state: started
    enabled: yes
